# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

# Ignore model and checkpoint folders
ml/experiments/model/
ml/experiments/checkpoints/

# Ignore unprocessed data
ml/data/unprocessed/

# Add other general ignore patterns if needed
*.pyc
__pycache__/
*.log
*.env

.DS_Store